body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-image: url("/img/level-back.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    flex-direction: row;
    background: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    width: 80%;
    max-width: 1200px;
    height: 70%;
}

.question-container {
    flex: 1;
    padding: 20px;
    border-right: 2px solid #ddd;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.question-container h3 {
    margin-bottom: 20px;
    font-size: 24px;
}

.code-editor-container {
    flex: 2;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
}

textarea#editor {
    flex: 1;
    width: 100%;
    font-family: monospace;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    resize: none;
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.1);
}

button#submit-btn {
    margin-top: 10px;
    padding: 10px 20px;
    font-size: 18px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s;
}

button#submit-btn:hover {
    background-color: #45a049;
}

#result-message {
    font-size: 1.2em;
    margin-top: 20px;
    text-align: center;
}
