<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Code Quest</title>
	<script src="/js/main.js"></script>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <!-- Background Video -->
    <video autoplay loop muted playsinline class="background-video">
        <source src="video2.mp4" type="video/mp4">
    </video>

    <div class="title">
        Code Quest
        <div class="java-edition">
            Code of the Lost Realm!
        </div>
    </div>

    <div class="button-container">
		<button class="button-30" role="button" id="start-game-btn">START GAME</button>
        <button class="button-30" role="button" onclick="window.location.href='story.html'">STORY</button>
		<button class="button-30" role="button" id="stats-btn" onclick="window.location.href='menu.html'">MAIN MENU</button>
        <button class="button-30" role="button" id="quit-button">QUIT GAME</button>
    </div>

    <script>
        document.getElementById('quit-button').addEventListener('click', function() {
            if (confirm("Are you sure you want to quit?")) {
                window.close();
            }
        });
    </script>
</body>
</html>
